@model HandbookSystem.Dal.Person

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome @Model.UserName, (@Model.Role)</h2>
        <h3>@Model.Role Info</h3>
        <h4>Name: @Model.LastName, @Model.FirstName</h4>
        <h4>Course: @Model.Course</h4>
        <h4>Modules:</h4>
        <ul>
            @{
                foreach (var module in Model.Modules)
                {
                    <li><h4>@module.ModuleTitle</h4></li>
                }
            }
        </ul>

        <h4>Module Handbooks:</h4>
        <a href="#">Download My Handbooks</a><br/>
        <a href="@Url.Action("List", "Lecturer")">Edit My Handbooks</a><br />
        <a href="#">View All Handbooks</a><br />
    </div>
</div>