@model HandbookSystem.Dal.Person

@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">
    <h2>Welcome @Model.UserName, (@Model.Role)</h2>

    <div class="panel panel-default col-md-5">
        <div class="panel-body">
            <h3><strong>@Model.Role Info</strong></h3>
            <h4><strong>Name:</strong> @Model.LastName, @Model.FirstName</h4>
            <h4><strong>Contact Number: </strong> @Model.ContactNo</h4>
            <h4><strong>Modules:</strong></h4>
            <ul>
                @{
                    foreach (var module in Model.Modules)
                    {
                        <li><h4>@module.ModuleTitle</h4></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="panel panel-default col-md-5">
        <div class="panel-body">
            <h3><strong>Module Handbooks:</strong></h3>
            <a href="@Url.Action("Download", "Lecturer")"><h4>Download My Handbooks</h4></a><br />
            <a href="@Url.Action("List", "Lecturer")"><h4>Edit My Handbooks</h4></a><br />
            <a href="#"><h4>View All Handbooks</h4></a><br />
        </div>
    </div>
</div>