@model HandbookSystem.Dal.Person

@{
    ViewBag.Title = "Handbook List";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>
    <table class="table-bordered table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th>Module Code</th>
            <th>Module Title</th>
            <th>Module Year</th>
            <th>Published</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var module in Model.Modules)
            {
                <tr>
                    <td>@module.ModuleCode</td>
                    <td>@module.ModuleTitle</td>
                    <td>@module.ModuleYear</td>
                    <td>@(module.Enabled ? "Yes" : "No")</td>
                    <td><a href="@Url.Action("Edit", "Lecturer", new {id = module.ModuleCode})">Edit</a></td>
                </tr>
            }
        }
        </tbody>
    </table>
    <br/>
    <p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '@Url.Action("Index", "Lecturer")'">BACK TO HOMEPAGE</button></p>
</div>