@model HandbookSystem.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login Page";
}

<div id="outer">
    <div id="inner">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {role = "form", id = "frm_login"}))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <div>
                    <i class="fa fa-user fa-4x" aria-hidden="true" style="border: 3px solid #000; border-radius: 10px; padding: 10px;"></i><br/>
                    @Html.LabelFor(model => model.UserName) @Html.TextBoxFor(m => m.UserName, new {@class = "form-control val-autocomplete-off", @maxlength = "30"})
                    @Html.LabelFor(model => model.Password) @Html.PasswordFor(m => m.Password, new {@class = "form-control", @maxlength = "30"})
                    <p>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                    </p>
                </div>
            </fieldset>
        }
    </div>
</div>